body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.section:-webkit-scrollbar{
    display: none;
}

.section-container {
    padding: 5rem;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}

.container {
    height: 90%;
    /* Füge hier weitere Styles für den inneren Container hinzu, wenn benötigt */
  }

.scroll-container {
    height: 100%;
    padding: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar{
    display: none;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    height:100%;
    width: 100%;
    background: url('images/heroImage.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    /* overflow: scroll; */
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}
/* about section image css */

.imageAboutPage {
    max-height: 80vh;
    max-width: 90%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}